.img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

::-webkit-scrollbar-thumb:active {
    background: #757575;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #bdbdbd transparent;
}